.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-full {
    background-color: white;
    height: 20%;
}

.container {
    background-color: transparent;
    height: 100%;
} 