<div class="container-full">
  <div class="toolbar">
    <div class="container">
      <div class="left">
        <img src="../../../assets/logo-header.png" alt="agencia digital">
      </div>
    </div>

  </div>
  <div class="content">
    <div class="container">
      <h2>Somos una agencia digital especializada en dos grandes disyuntivas</h2>
      <h2>TECNOLOGÍA | COMUNICACIÓN</h2>
    </div>
  </div>
  <video preload="auto" autoplay loop type="video/mp4" muted src="../../../assets/video_portada2.mp4"></video>
</div>