<div class="container-full">
    <div class="container">
        <p class="title">¿A QUÉ NOS DEDICAMOS?</p>

        <div class="servicios d-flex">

            <div class="card col-12 col-md-3">
                <div class="imagen" id="web">
                    <img src="../../../assets/web.jpg" alt="diseño web">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">WEB</h5>
                    <p class="card-text">
                        Desarrollamos websites con nuevas tecnologías, eficientes y escalables para tu negocio.
                    </p>
                </div>
            </div>

            <div class="card col-12 col-md-3">
                <div class="imagen" id="apps">
                    <img src="../../../assets/apps.jpg" alt="aplicaciones móviles">
                </div>
                <div class="card-body">
                    <h5 class="card-title">APPS</h5>
                    <p class="card-text">
                        Creamos aplicaciones móviles multiplataforma para agilizar y automatizar tus tarea día con día.
                    </p>
                </div>
            </div>

            <div class="card col-12 col-md-3">
                <div class="imagen" id="marketing">
                    <img src="../../../assets/marketing.jpg" alt="marketing">
                </div>
                <div class="card-body">
                    <h5 class="card-title">MARKETING</h5>
                    <p class="card-text">
                        Implementamos estrategias innovadoras y óptimas para el desarrollo comercial de tu negocio
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>