<div class="container-full">
    <div class="container">
        <p class="title">¿A QUÉ NOS DEDICAMOS?</p>

        <div class="servicios d-flex">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">WEB</h5>
                    <p class="card-text">
                        Desarrollamos websites con nuevas tecnologías, eficientes y escalables para tu negocio.
                    </p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">WEB APPS</h5>
                    <p class="card-text">
                        Creamos aplicaciones móviles multiplataforma para agilizar y automatizar tus tarea día con día.
                    </p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MARKETING</h5>
                    <p class="card-text">

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>