<div class="container-full">
  <div class="container titulo">
    <div class="box-title">
      <h2 class="about">
        SOMOS UNA AGENCIA TECNOLÓGICA ESPECIALIZADA EN DESARROLLO CON NUEVAS
        TECNOLOGÍAS Y MARKETING
      </h2>
    </div>
  </div>

  <div class="container slider">
    <div class="container">
      <p class="title">Nuestro trabajo</p>
      <p class="subtitle">Descubre nuestros proyectos</p>

      <!-- Swiper -->
      <swiper fxFlex="auto" [config]="config" [(index)]="index">
        <div *ngFor="let image of images; let index = index" class="swiper-slide cursor-pointer">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="mx-2">
            <img [src]="image.img" alt="image.img">
          </div>
        </div>
      </swiper>

    </div>
  </div>
</div>
