@import '~swiper/dist/css/swiper.min.css';

.container-full {
  background-color: white;
}

.container .title {
  font-weight: 800;
  font-size: 2.4em;
}

.container .subtitle {
  margin-bottom: 3%;
  font-weight: 400;
  font-size: 1.3em;
  color: rgb(19, 18, 18);
}

.about {
  color: #777;
  text-align: center;
  align-self: center;
}

.titulo {
  height: 40vh;
}

.box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  width: 100%;
  cursor: move;
}

swiper {
  margin: 18px 0;
}

.swiper-slide {
  cursor: move;
}
