<div class="background" #background>
    <div class="box" #box>
        <div class="lt lt-1" #lt1>A</div>
        <div class="lt lt-2" #lt2>G </div>
        <div class="lt lt-3" #lt3>N</div>
        <div class="lt lt-4" #lt4>C</div>
        <div class="lt lt-5" id="lt-i" #lt5>i</div>
        <div class="lt lt-6" #lt6>A</div>
    </div>
</div>

    <app-header></app-header>
    <app-projects></app-projects>
    <app-servicios></app-servicios>
    <app-form></app-form>
    <app-footer></app-footer>
