.container-full {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.container,
.row {
  height: 100%;
}

p {
  transition: all 1s;
}

mat-hint {
  color: tomato !important;
}

.box-1 {
  //   border-right: 1px solid black;
  display: flex;
  //   flex-direction: column;
}

.box-1 .text-box {
  align-self: center;
}

.box-2 {
  display: flex;
}

form .form-group,
mat-form-field {
  width: 100%;
}

form {
  width: 100%;
  padding: 5% 12%;
  //   margin: 0 auto;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 0px 0px 19px #ccc;
  text-align: center;
  background-color: #fff;
  //   background-image: url('../../../assets/image.jpg');
  //   background-size: cover;
  transform-origin: top top;
}

.group-form {
  align-self: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  //   border: 1px solid black;
  border-radius: 10px;
}

.move {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #fff;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 19px #ccc;
}

.content {
  opacity: 1;
}

.container .title {
  font-weight: 800;
  font-size: 2.4em;
}

.container .subtitle {
  margin-bottom: 3%;
  font-weight: 400;
  font-size: 1.3em;
  color: rgb(19, 18, 18);
}

.btn {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  color: white !important;
}

@media only screen and (max-width: "1000px") {
  .container .title {
    font-size: 1.5em;
  }
  .container .subtitle {
    font-size: 1em;
  }
}
@media only screen and (max-width: "768px") {
  .container-full {
    padding: 5% 0;
    height: auto;
  }

  form {
    margin-top: 5%;
    font-size: .8em;
  }
}
